<%= render 'layouts/header' %>

<div class="container">
	<% flash.each do |name, msg| %>
		<% if(name == "notice") then name_class = "success" else name_class = "danger" end %>
		<%= content_tag(:div, msg, class: "alert alert-#{name_class}") %>
	<% end %>

	<%= yield %>
</div>
<%= render 'layouts/footer' %>